@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */

.display-flex
{
  display: flex;
}

.bg-orange-color
{
  background-color: #FEA301;
}

.orange-color
{
  color: #FEA301;
}

.orange-color2
{
  color: #F0AA00;
}

.white-color
{
  color:#FFFFFF;
}

.sky-blue
{
  color: #01ACFD;
}

.blue-2
{
  color: #05D4DF;
}

.blue-3
{
  color: #5D58EF;
}

.blue-4
{
  color: #8700FF;
}

.bg-black
{
  background-color: #111111;
}
.btn-primary
{
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 10px;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
}
.btn-secondary
{
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 10px;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
}

.bold
{
  font-weight: 700;
}

.common-title
{
  font-size: 2.88rem;
  font-weight: 700;
  color: #000000;
}
/* nav styles */

.nav-item
{
    list-style: none;
    margin-right: 30px;
}

.navbar
{
    justify-content: space-between;
    align-items: center;
}
 .nav-link{
  text-decoration: none;
  font-size: 1.25rem;
 }

 nav, main
 {
  max-width: 1440px;
  margin: 0 auto;
 }



 
/* Hamburger styles */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 2px;
}

/* Hide checkbox */
.menu-toggle {
  display: none;
}


/* empowering styles */

.empowering
{
  
  margin-top: 20px;
  gap: 50px;
}

.empowering1
{
  align-items: center;
}
.empowering1-title
{
  font-size: 3.5rem;
}

.empowering1-description
{
  font-size: 1.25rem;
  color: rgba(17, 17, 17, 1);
}

.empowering img{
  width: 100%;
}

/* Standard Curriculum styles */

.standard
{text-align: center;
  margin-top: 60px;
  background-image: url(../assets/bg.png);
}
.cards
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 28px;
  padding: 20px 20px;
  
}
.card-item
{
  
    width: 365px;
    height: 475px;
    border-radius: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

.card-title
{
  font-size: 1.5rem;
  font-weight: 700;
  color: #202020;
}
.card-description
{
  font-size: 0.94rem;
  color: #808080;
}
.read-more
{
  font-size: 0.94rem;
  font-weight: 700;
}

.grad1
{
  background: linear-gradient(to top, #FFFFFF 70%, rgba(222, 245, 255, 1) );
  box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.05); 
 
}

.grad2
{
  background: linear-gradient(to top, #FFFFFF 70%, #FFF4DC );
  box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.05); 
 
}

.grad3
{
  background: linear-gradient(to top, #FFFFFF 70%, #F2E8FF );
  box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.05); 
 
}
/* Responsive styles */
@media screen and (max-width: 576px) {

  .navbar {
    position: relative;
  }

  .hamburger {
    display: flex;
  }

  .nav.links, 
  .btn-primary,
  .brand-title {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
  }

  .nav-item {
    margin: 10px 0;
  }

  .navbar {
    border-bottom: 0.5px solid #FEA301;
    padding-bottom: 15px;
  }

  .empowering
  {
    flex-direction: column;
    flex-direction: column-reverse;
    text-align: center;

  }

  .cards
  {
    flex-direction: column;
  }

  
}


 