@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */

.display-flex
{
  display: flex;
}

.bg-orange-color
{
  background-color: #FEA301;
}

.orange-color
{
  color: #FEA301;
}

.white-color
{
  color:#FFFFFF;
}

.sky-blue
{
  color: #01ACFD;
}

.blue-2
{
  color: #05D4DF;
}

.blue-3
{
  color: #5D58EF;
}

.bg-black
{
  background-color: #111111;
}
.btn-primary
{
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 10px;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
}
.btn-secondary
{
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 10px;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
}

.bold
{
  font-weight: 700;
}

/* nav styles */

.nav-item
{
    list-style: none;
    margin-right: 30px;
}

.navbar
{
    justify-content: space-between;
    align-items: center;
}
 .nav-link{
  text-decoration: none;
  font-size: 1.25rem;
 }

 nav, main
 {
  max-width: 1440px;
  margin: 0 auto;
 }



 
/* Hamburger styles */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 2px;
}

/* Hide checkbox */
.menu-toggle {
  display: none;
}


/* empowering styles */

.empowering
{
  
  margin-top: 20px;
  gap: 50px;
}

.empowering1
{
  align-items: center;
}
.empowering1-title
{
  font-size: 3.5rem;
}

.empowering1-description
{
  font-size: 1.25rem;
  color: rgba(17, 17, 17, 1);
}

.empowering img{
  width: 100%;
}


/* Responsive styles */
@media screen and (max-width: 576px) {

  .navbar {
    position: relative;
  }

  .hamburger {
    display: flex;
  }

  .nav.links, 
  .btn-primary,
  .brand-title {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
  }

  .nav-item {
    margin: 10px 0;
  }

  .navbar {
    border-bottom: 0.5px solid #FEA301;
    padding-bottom: 15px;
  }

  .empowering
  {
    flex-direction: column;
    flex-direction: column-reverse;
    text-align: center;

  }

  
}


 