@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */

.display-flex
{
  display: flex;
}

.bg-orange-color
{
  background-color: #FEA301;
}

.orange-color
{
  color: #FEA301;
}

.orange-color2
{
  color: #F0AA00;
}

.white-color
{
  color:#FFFFFF;
}

.sky-blue
{
  color: #01ACFD;
}

.blue-2
{
  color: #05D4DF;
}

.blue-3
{
  color: #5D58EF;
}

.blue-4
{
  color: #8700FF;
}

.bg-black
{
  background-color: #111111;
}

.bg1-btn{
  background-color: rgba(149, 178, 38, 1);
}
.bg2-btn
{
  background-color: rgba(60, 216, 232, 1);
}

.bg3-btn
{
  background-color: rgba(93, 88, 240, 1);
}
.btn-primary
{
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 10px;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
}
.btn-secondary
{
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 10px;
  color: #FFFFFF;
  border: none;
  border-radius: 12px;
}

.bold
{
  font-weight: 700;
}

.common-title
{
  text-align: center;
  font-size: 2.88rem;
  font-weight: 700;
  color: #000000;
  
  padding-top: 60px;
}
/* nav styles */

.nav-item
{
    list-style: none;
    margin-right: 30px;
}

.navbar
{
    justify-content: space-between;
    align-items: center;
}
 .nav-link{
  text-decoration: none;
  font-size: 1.25rem;
 }

 nav, main,footer
 {
  max-width: 1440px;
  margin: 0 auto;
 }



 
/* Hamburger styles */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 2px;
}

/* Hide checkbox */
.menu-toggle {
  display: none;
}


/* empowering styles */

.marquee {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  border: 1px solid none;
  background-color: #FEA301;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  height: 50px;
  width: 100%;
  
  white-space: nowrap;
  margin-top: 20px;
}

.marquee p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
 
  transform: translateX(100%);
 
  animation: scroll-center 20s linear infinite;
  ;
}

@keyframes scroll-center {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(-100%);
  }
}

.empowering
{
  
  margin-top: 20px;
  gap: 50px;
}

.empowering1
{
  align-items: center;
}
.empowering1-title
{
  font-size: 3.5rem;
}

.empowering1-description
{
  font-size: 1.25rem;
  color: rgba(17, 17, 17, 1);
}

.empowering img{
  width: 100%;
}

/* Standard Curriculum styles */

.standard
{text-align: center;
  
  background-image: url(../assets/bg.png);
}
.cards
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 28px;
  padding: 20px 20px;
  
}
.card-item
{
  
    width: 365px;
    height: 475px;
    border-radius: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

.card-title
{
  font-size: 1.5rem;
  font-weight: 700;
  color: #202020;
}
.card-description
{
  font-size: 0.94rem;
  color: #808080;
}
.read-more
{
  font-size: 0.94rem;
  font-weight: 700;
}

.grad1
{
  background: linear-gradient(to top, #FFFFFF 70%, rgba(222, 245, 255, 1) );
  box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.05); 
 
}

.grad2
{
  background: linear-gradient(to top, #FFFFFF 70%, #FFF4DC );
  box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.05); 
 
}

.grad3
{
  background: linear-gradient(to top, #FFFFFF 70%, #F2E8FF );
  box-shadow: inset 0 0 28px rgba(0, 0, 0, 0.05); 
 
}


.arrow-buttons {
  justify-content: center;
  gap: 1rem;
  margin-top: 80px;
  margin-bottom: 60px;
}


.arrow-btn {
 
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid #333;
  border-radius: 30px;
  background-color: white;
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.arrow-btn:hover {
  background-color: #333;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.arrow-btn.left {
  border-color: #FEA301;
}

.arrow-btn.left:hover {
  background-color: #FEA301;
}

.arrow-btn.right {
  border-color: #FEA301;
}

.arrow-btn.right:hover {
  background-color: #FEA301;
}

/* our stories styles */

.our-stories {
  
  
  background: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 30%, rgba(255, 216, 147, 1)),
    url(../assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  
  
  
}

.stories-container 
{
  
  gap: 20px;
  justify-content: center;
  
  
}

.story2 img, 
.story1 img {
  width: 100%;
  height: auto; 
  object-fit: cover; 
}

.story1
{
  border:1px solid none;
  border-radius: 16px;
  height: 630px;
  width: 540px;
  background-color: #FFFFFF;
  text-align: left;
  
}

.story1-title
{
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  padding-left: 38px;
}
.story1-description
{
  font-size: 0.96rem;
  color: rgba(102, 102, 102, 1);
  padding-left: 38px;
}
.story2
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
 
  
}
.stories
{
  border:1px solid none;
  border-radius: 16px;
  height: 310px;
  width: 290px;
  background-color: #FFFFFF;
  text-align: left;
  
  
 
}

.story2-title
{
  font-size: 0.96rem;
  font-weight: 700;
  color: #000000;
  padding-left: 38px;
  padding-bottom: 38px;
}

.story-btn
{
  border-radius: 48px;
  border: none;
  color: #FFFFFF;
  font-size: 0.96rem;
  padding: 15px 19px;
  
}

.margin1
{
 
  margin-left: 38px;
  margin-top: -1000px;
}

.margin2
{
  margin-left: 30px;
  margin-top:-10px ;
}

.view
{
  margin-top: 80px;
  margin-bottom: 60px;
}

/* footer styles */




.kids-education-container
{
  
  justify-content:space-between;
  align-items: center;
  gap: 100px;

  padding: 123px 228px 174px 140px;
}

.kid1
{
  align-items: center;
}
  .kid1 img{
    width: 82px;
    height: 81px;
  }
.kid1-title
{
  font-size: 2.63rem;
  font-weight: 700;
}
.kid-title
{
  font-size: 1.25rem;
}

.about
{
  font-size: 1.5rem;
  font-weight: 700;
}

.about1
{
  font-size: 1.25rem;
  padding-bottom: 5px;
}

.keep
{
  font-size: 1.63rem;
  font-weight: 700;
}
.logo
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5px;
}


.footer-item
{
    list-style: none;
    margin-right: 30px;
}


 .footer-link{
  text-decoration: none;
  font-size: 1.25rem;
 
 }

/* Responsive styles */
@media screen and (max-width: 576px) {

  .navbar {
    position: relative;
  }

  .hamburger {
    display: flex;
  }

  .nav.links, 
  .btn-primary,
  .brand-title,
  .arrow-buttons,
  .story1
   {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
  }

  .nav-item {
    margin: 10px 0;
  }

  .navbar {
    border-bottom: 0.5px solid #FEA301;
    padding-bottom: 15px;
  }

  .empowering
  {
    flex-direction: column;
    flex-direction: column-reverse;
    text-align: center;

  }

  .cards
  
  {
    grid-template-columns: repeat(1,1fr);
  }
  .arrow-buttons
  {
    justify-items: center;
  }

  
  
  .stories {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  .story-btn
  {
    border-radius: 48px;
    border: none;
    color: #FFFFFF;
    font-size: 0.96rem;
    padding: 5px 10px;
    
  }
  
 
  .margin2
  {
    margin-left: 10px;
    margin-top:-15px ;
  }


  .kids-education-container
  {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: -80px;
    margin-bottom: 100px;
    
  }
  .about
  {
    margin-left: -30px;
   
  }
   .footer-link
   {
    margin-left: -30px;
 
   }
  
  
}


 